$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

nav {
    margin-bottom: 40px !important;
}

.ui.fixed.main.menu .right.menu > .item:last-of-type {
    border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

nav .mobile.only.row {
    .ui.vertical.menu {
        margin-top: 40px;
        display: none;
    }
}

.flashes > .ui.message:last-of-type {
    margin-bottom: 2rem;
}

table.selectable tr:hover {
    cursor: pointer !important;
}


.font-kiosque{
    font-size:1.4em;
    padding-top:10px;
}

.selection.ui.dropdown{
    font-size:initial;
}

.ui.grid.container{
  margin-top:20px;
}

.ui.text.container{
  margin-top:20px;
}

.ui.header.center{
  text-align: center;
}

.selection.ui.dropdown{
  margin-bottom: -10px;
}
.ui.button{
  text-align: center;
  background-color: black;
  color: white;
  font-size:15px;
}

.ui.checkbox{
  margin-top: 0px;
}

.sub.header.center{
  text-align: center;
}

div.center{
  text-align:center;
}

.info{
  font-size:20px;
  color:darkgreen;

}
