{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
          {% set flashes = {
              'error':   get_flashed_messages(category_filter=['form-error']),
              'warning': get_flashed_messages(category_filter=['form-check-email']),
              'info':    get_flashed_messages(category_filter=['form-info']),
              'success': get_flashed_messages(category_filter=['form-success'])
          } %}


          <h2 class="ui header center">
            Inscription Métaplénière IDE
          </h2>

        {{ f.begin_form(form, flashes) }}
				{{ f.render_form_field(form.email, extra_classes='font-kiosque') }}
        <div class="center">
        {{f.render_form_field(form.submit_2) }}</div>

        {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
        {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
        {{ f.form_message(flashes['info'], header='Information', class='info') }}
        {{ f.form_message(flashes['success'], header='Success!', class='success') }}

        <h2 class="ui header center">
        <div class="sub header center ">ou faire/modifier tes choix</div>
        </h2>
        <h2 class="ui header center">
        </h2>

        <h2 class="ui header center">
            Choix des kiosques pour la métaplénière
            <div class="sub header center">Selectionner un kiosque par créneau</div>
        </h2>
				{{ f.render_form_field(form.kiosque_1, extra_classes='font-kiosque') }}
        {{ f.render_form_field(form.presentor_1)}}
				{{ f.render_form_field(form.kiosque_2, extra_classes='font-kiosque') }}
        {{ f.render_form_field(form.presentor_2)}}
				{{ f.render_form_field(form.kiosque_3, extra_classes='font-kiosque') }}
        {{ f.render_form_field(form.presentor_3)}}
				{{ f.render_form_field(form.kiosque_4, extra_classes='font-kiosque') }}
        {{ f.render_form_field(form.presentor_4)}}
			
        <div class="center">
				{{ f.render_form_field(form.submit) }}
        </div>




          {{ f.end_form() }}
        </div>
    </div>
{% endblock %}
