{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}
            {{ f.end_form() }}
        <h2 class="ui header center">
            Récapitulatif de tes choix
        </h2>

				<h3 class='font-kiosque'>Rotation 1 (9h30-10h00)</h3>
				<div class="info">{{kiosque_1_text}} ({{kiosque_1_venue}})</div>

				<h3 class='font-kiosque'>Rotation 2 (10h05-10h35)</h3>
				<div class="info">{{kiosque_2_text}} ({{kiosque_2_venue}}) </div>

				<h3 class='font-kiosque'>Rotation 3 (10h40-11h10)</h3>
				<div class="info">{{kiosque_3_text}} ({{kiosque_3_venue}})</div>

				<h3 class='font-kiosque'>Rotation 4 (11h15-11h45)</h3>
				<div class="info">{{kiosque_4_text}} ({{kiosque_4_venue}})</div>

        </div>
    </div>
{% endblock %}
