<p>Hello {{ user }},</p>

<p>Merci pour ton inscription à la Métaplénière IDE.</p>
<p>Voici le récapitulatif de tes choix:</p>

{% for u in range(n_element) %}
    <p style="font-weight:bold; margin-left:2.5em;">  Rotation {{loop.index}} ({{heures[u]}}) : {{kiosque_text[u]}} ({{kiosque_venue[u]}})</p>
{% endfor %}

<p>A bientôt,</p>

<p style="font-weight:bold;">  {{ config.APP_NAME }}</p>

<p><small>Note: replies to this email address are not monitored.</small></p>
