@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000334}}
.font-kiosque {
  font-size: 1.4em;
  padding-top: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000339}}
.selection.ui.dropdown {
  font-size: initial;
}

@media -sass-debug-info{filename{}line{font-family:\0000343}}
.ui.grid.container {
  margin-top: 20px;
}

@media -sass-debug-info{filename{}line{font-family:\0000347}}
.ui.text.container {
  margin-top: 20px;
}

@media -sass-debug-info{filename{}line{font-family:\0000351}}
.ui.header.center {
  text-align: center;
}

@media -sass-debug-info{filename{}line{font-family:\0000355}}
.selection.ui.dropdown {
  margin-bottom: -10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000358}}
.ui.button {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 15px;
}

@media -sass-debug-info{filename{}line{font-family:\0000365}}
.ui.checkbox {
  margin-top: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\0000369}}
.sub.header.center {
  text-align: center;
}

@media -sass-debug-info{filename{}line{font-family:\0000373}}
div.center {
  text-align: center;
}

@media -sass-debug-info{filename{}line{font-family:\0000377}}
.info {
  font-size: 20px;
  color: darkgreen;
}
