{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.manage_kiosques') }}">
                <i class="caret left icon"></i>
                Vers le management des kiosques
            </a>
            <h2 class="ui header">
                Participants inscrits
                <div class="sub header">
                    Liste des participants et des kiosques qu'ils ont choisi
                </div>
            </h2>
			{% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}


            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Email</th>

                            <th>Kiosque 1</th>
                            <th>Presentateur 1</th>
							              <th>Kiosque 2</th>
                            <th>Presentateur 2</th>
							              <th>Kiosque 3</th>
                            <th>Presentateur 3</th>
                            <th>Kiosque 4</th>
                            <th>Presentateur 4</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for u in users%}
                        <tr>
                            <td>{{ u['email'] }}</td>
                            <td>{{ u["kiosque_1"] }}</td>
                            <td>{{ u["presentor_1"] }}</td>
                            <td>{{ u["kiosque_2"] }}</td>
                            <td>{{ u["presentor_2"] }}</td>
              							<td>{{ u["kiosque_3"] }}</td>
                            <td>{{ u["presentor_3"] }}</td>
              							<td>{{ u["kiosque_4"] }}</td>
                            <td>{{ u["presentor_4"] }}</td>
                        </tr>


                    {% endfor %}
					<a href="/admin/getPlotCSV">Télécharger la liste (.csv)</a>
                    </tbody>
                </table>
            </div>
			{{ f.begin_form(form, flashes) }}
				{{ f.render_form_field(form.participants_all) }}
				{{ f.render_form_field(form.submit) }}

			{{ f.end_form() }}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
